# dependencies
node_modules

# compiled output
dist
tmp
out-tsc
test-output

# test coverage
coverage

# nx
.nx/cache
.nx/workspace-data
.nx/polygraph

# generated
*.tsbuildinfo

# lock files
package-lock.json
