POSTGRES_USER=admin
POSTGRES_PASSWORD=test
POSTGRES_DB=readme-blog
PGADMIN_DEFAULT_EMAIL=admin@admin.ru
PGADMIN_DEFAULT_PASSWORD=test
PORT=3333
ENVIRONMENT=development
DATABASE_URL=postgresql://admin:test@localhost:5433/readme-blog
